spring:
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
# DataSource Config
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://127.0.0.1:3306/aitest?useUnicode=true&characterEncoding=utf-8&useSSL=true&serverTimezone=UTC

# Logger Config
logging:
  level:
    com.baomidou.mybatisplus.samples.quickstart: debug